@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-dark: rgb(15 23 42);
  --dark:  rgb(30 41 59);
  --turquoise: #55d6be;
  --white: #f5f3f5;
  --red: #ff0e1e;
  --yellow: #fbff00;
  --blue: #0f056b;
  --green: #34ff24;
  --cyan: #01baef;
}

* {
  color: var(--white);
}

/* Style de la zone de règlement */
#reglement {
  background: #f5f3f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style des éléments de réglage */
.items {
  margin-bottom: 20px;
}

/* Style des étiquettes de texte */
.text {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Style des curseurs de plage */
input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  border-radius: 5px;
  background: var(--turquoise);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Style des curseurs de plage lorsqu'ils sont actifs */
input[type="range"]:active {
  opacity: 1;
}

/* Style des curseurs de plage lorsqu'ils sont survolés */
input[type="range"]:hover {
  cursor: pointer;
}

/* Style des curseurs de plage lorsqu'ils sont actifs */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--dark);
  cursor: pointer;
}

/* Style des valeurs affichées à côté des curseurs de plage */
.countRange {
  color: var(--dark);
  font-weight: bold;
  font-size: 1.2rem;
}

/* Style de la liste de marqueurs (pour les curseurs de plage) */
datalist#tickmarks {
  display: none;
}

/* Style des règles pour les curseurs de plage */
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: linear-gradient(to right, var(--dark) 0%, var(--dark) 100%);
  border: none;
  border-radius: 5px;
}

/* Style des valeurs sur les curseurs de plage (marqueurs) */
input[type="range"]::-webkit-slider-thumb::before {
  content: attr(value);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--dark);
  color: var(--white);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}


body {
  font-family: 'Poppins', sans-serif;
  z-index: 1;
  background: var(--font-dark);
}

.hidden {
  display: none;
}

.container {
  background: var(--dark);
  width: 80%;
  max-width: 1200px;
  margin: auto;
  margin-top: 5%;
  border: 15px solid var(--dark);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h3 {
  font-family: "Poppins", cursive;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

#popup {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 800px;
  height: 60vh;
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid rgba(0, 0, 0, 0.95);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#popup h1 {
  text-align: center;
  margin-top: 20%;
  font-size: 2.5rem;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu button {
  background: var(--turquoise);
  border: 1px solid var(--turquoise);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 50%;
  max-width: 200px;
  transition: background-color 0.3s, border 0.3s;
}

#menu button:hover {
  background-color: #43aa97;
  border: 1px solid #43aa97;
}

.regle {
  display: none;
  justify-content: center;
  font-size: 1.2rem;
  margin: 20px auto;
}

table {
  margin: 0 auto;
  border: 1px solid var(--white);
  padding: 10px;
  border-radius: 10px;
}

table tr {
  background: rgba(245, 243, 245, 0);
}

table tr td {
  margin-left: 5px;
  background-color: var(--dark);
  border: 4px solid var(--white);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: width 0.3s, height 0.3s, border 0.3s;
}

.rouge {
  border: 4px solid var(--red);
  background: var(--red);
  box-shadow: 1px 1px 20px 4px var(--red);
  border-radius: 50%;
}

.jaune {
  border: 4px solid var(--yellow);
  background: var(--yellow);
  box-shadow: 1px 1px 20px 4px var(--yellow);
  border-radius: 50%;
}

.cyan {
  border: 4px solid var(--cyan);
  background: var(--cyan);
  box-shadow: 1px 1px 20px 4px var(--cyan);
  border-radius: 50%;
}

.vert {
  border: 4px solid var(--green);
  background: var(--green);
  box-shadow: 1px 1px 20px 4px var(--green);
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
    padding: 20px;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0;
  }
  #menu button {
    width: 80%;
    max-width: 200px;
    padding: 10px 20px;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #7f7b82 rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #7f7b82;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
}

#reglement {
  background: var(--dark);
  padding: 20px;
}

#reglement .items {
  margin-bottom: 20px;
}

#reglement input[type="range"] {
  width: 100%;
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  -webkit-appearance: var(--white);
}

#reglement input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--turquoise);
  border: 2px solid var(--dark);
  border-radius: 50%;
  cursor: pointer;
}

#reglement .text {
  display: flex;
  justify-content: space-between;
}

#reglement .text .countRange {
  color: var(--turquoise);
  font-weight: bold;
}

